.menu{
    background: rgb(43, 95, 172);
    display: flex;
    align-items: center;
    height: 40px;
}
.menu a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.menu .active{
    color: #ffffff 
}

.menu span{
    color: #ffffff;
    margin: 0 0 0 20px; 
}

.anuncie{
    display: flex;
    padding-left: 43%;
}