button{
    padding: 0px 0px;
    border-radius: 10px;
    font-size: 18px;
    height: 60px;
    background-color: #fefefe;
    background-repeat: no-repeat;
    background-position: center;
    color: #3159f8;
    width: 120px;
    box-shadow: 0 0 0 0 rgba(0,0,0,0),0 0 0 0 rgba(0,0,0,0);
    border-bottom: 0px;
     border:none;
    background-color: white;
    
}