.imgfundo img{
    width: 100%;
}

.linearimg{
        background-repeat: no-repeat, repeat;
        background: #000;
        opacity: 0.2;
        background-blend-mode: lighten;
        position: absolute;
        z-index: 99;
}