.navbar{
    position: relative;
    float: right;
    
    
}


.navbar ul{
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 100%;
    position: relative;

}

.navbar a {
    margin: 0px 4rem 0 0;
    color: rgb(44, 141, 226);
}